{% extends 'main/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
{% with title='| Events | '|add:event %}
{% trans title %}
{% endwith %}
{% endblock title %}

{% block content %}
<p class="body textcenter"><b>{{event}}</b></p>
<table class="body" style="margin: 0 auto">
    <tr> <td>{% trans 'Name' %}:</td> <td>{{event.name}} </td></tr>
    <tr> <td>{% trans 'Date' %}:</td> <td> {{event.date}} </td></tr>
    <tr> <td>{% trans 'Creator' %}:</td> <td> {{event.creator}} </td></tr>
    <tr> <td>{% trans 'Location' %}:</td> <td> {{event.location}} </td></tr>
    <tr> <td>{% trans 'Description' %}:</td> <td> {{event.description}} </td></tr>
</table>
{% endblock content %}
