{% extends 'main\base.html' %}

{% load i18n %}

{% block title %}
{% trans '| Directory' %}
{% endblock title %}

{% block content %}
<br/>
<table class="body centralised" border="5px" cellpadding="10px">
    <tr>
        <td>{% trans 'Area of Responsibility' %} </td>
        <td>{% trans 'Title' %}</td>
        <td>{% trans 'First name' %}</td>
        <td>{% trans 'Last name' %}</td>
        <td>{% trans 'Email address' %}</td>
    </tr>
    {% for contact in object_list %}
        {% if contact.publicly_viewable %}
            <tr>
                <td>{{contact.area_of_responsibility}} </td>
                <td>{{ contact.title }} </td>
                <td>{{ contact.first_name }} </td>
                <td>{{ contact.last_name }} </td>
                <td>{{ contact.email_address }} </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
{% endblock content %}