{% load tags %}
{% load i18n %}
{% load static %}

{% url 'home_url_name' as home_url %}
{% url 'about_url_name' as about_url %}
{% url 'help_request_url_name' as help_request_url %}
{% url 'directory_url_name' as directory_url %}
{% url 'events_url_name' as events_url %}
{% url 'contact_url_name' as contact_url %}

{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}


<div id="navbar" class="navbar">
    <a class="navbar-element {% active request home_url %}" href="{{ home_url }}">{% trans 'Home' %}</a>
    <a class="navbar-element {% active request about_url %}" href="{{ about_url }}">{% trans 'About' %}</a>
    <a class="navbar-element {% active request help_request_url %}" href="{{ help_request_url }}">{% trans 'Request Help' %}</a>
    <a class="navbar-element {% active request directory_url %}" href="{{ directory_url }}">{% trans 'Directory' %}</a>
    <a class="navbar-element {% active request events_url %}" href="http://localhost:4200/events">{% trans 'Events' %}</a>
    <a class="navbar-element {% active request contact_url %}" href="{{ contact_url }}">{% trans 'Contact' %}</a>
    <form method="GET" class="navbar-element search-form">
        <input name="query" type="text" value="{{ request.GET.q }}" placeholder="{% trans 'Search...' %}"/>
        <button type="submit">{% trans 'Submit' %}</button>
    </form>

    {% for language in languages %}
        <form action="{% url 'set_language_url_name' %}" method="post" id="form_{{ language.code }}" style="display:inline;">
            {% csrf_token %}
            <input name="language" type="hidden" value="{{ language.code }}" />
        </form>
        {% with 'main/flag_'|add:language.code|add:'.png' as image_location %}
            <input type="image" class="lang-button" form="form_{{ language.code }}" value="{{ language.code }}" src="{% static image_location  %}" width="35" height="35"/>
        {% endwith %}
    {% endfor %}
</div>