<form method="post">
	<div class="textcenter">
		<div style="text-align:left;display:inline-block">
		
			<label>Username</label>
			<input type="text" name="username" [(ngModel)]="username" />
			<span *ngIf="getUsernameError()">
				{{ getUsernameError() }}
			</span>
			<label>Password</label>
			<input type="password" name="password" [(ngModel)]="password" />
			<span *ngIf="getPasswordError()">
				{{ getPasswordError() }}
			</span>
			
			<span *ngFor="let error of getOtherErrors()">
				<br />{{ error }}
			</span>
		</div>
	</div>
	<div class="textcenter">
		<input type="submit" name="Log In" (click)="login()" value="Log In" style="float:none">
	</div>
</form>
